@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

:root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

* {
    margin: 0;
    padding: 0;
    font-family: "San Francisco", Arial, sans-serif;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232c33;
}

.navigation {
    position: absolute;
    height: 100vh;
    width: 70px;
    left: 0;
    box-shadow: 10px 0 0 var(--violet);
    overflow-x: hidden;
    transition: width 0.2s ease-in-out;
    display: flex;
    z-index: 4;
    padding-right: 50px;
}

.navigation:hover {
    width: 200px;
    z-index: 3;
    transition: width 0.2s ease-in-out !important;
}

.navigation ul {
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    z-index: 15;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li.active {
    background: var(--violet);
    z-index: 4;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 3;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

/* Between 1010 and 864, make navtext smaller */
@media only screen and (max-width: 1010px) and (min-width: 864px) {
    /* Text below icons */
    .navigation ul li a span:not(:has(ion-icon)) {
        font-size: 0.8em;
    }
}

/* For screens below 864 pixels wide */
@media screen and (max-width: 864px) {
    /* The Navigation bar will become horizontal and go to the top */
    .navigation {
        top: 0;
        flex-direction: row;
        width: 100%;
    }

    .navigation ul {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: start !important;
        align-items: start !important;
        width: 100%;
        top: 0;
        height: 200px;
    }

    .navigation ul li {
        margin: 0;
        padding: 0;
    }

    .navigation ul li a {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    /* Icons */
    .navigation ul li a span:has(ion-icon) {
        padding: 0;
        margin: 0;
        font-size: 1.05em;

        line-height: 10px !important;
        height: 40px !important;
    }
    
    /* Text below icons */
    .navigation ul li a span:not(:has(ion-icon)) {
        text-align: center;
        margin: 0px !important;
        padding: 0px !important;

        line-height: 10px !important;

        font-size: 0.8em;

        position: absolute;
        top: 0 !important;

        opacity: 0.2;
    }
}


@media screen and (max-width: 500px) {

    /* Icons */
    .navigation ul li a span:has(ion-icon) {
        font-size: 0.9em;
        line-height: 0px !important;
    }

    /* Text below icons */
    .navigation ul li a span:not(:has(ion-icon)) {
        font-size: 0.7em;
        line-height: 0px !important;
    }

    .navigation ul {
        padding-top: 30px;
    }
}

@media screen and (max-width: 434px) {

    /* Icons */
    .navigation ul li a span:has(ion-icon) {
        min-width: none !important;
    }

    .navigation ul li a .icon {
        min-width: 0px !important;
    }

    /* Text below icons */
    .navigation ul li a span:not(:has(ion-icon)) {
        display: none !important;
    }

    .navigation ul {
        margin: auto !important;
        width: 100% !important;
        height: fit-content;
        padding-bottom: 0px;

        justify-content: space-around !important;
    }

    .navigation ul li {
        padding: 0;
        margin: 0;
        width: 50px !important;
    }

    .navigation ul li a {
        padding: 0;
        margin: 0;
    }
}