
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<div class="terminal-window">
    <header class="terminal-window-header">
        <div class="button green" id="green-btn"></div>
        <div class="button yellow"></div>
        <div class="button red"></div>
    </header>
    <section class="terminal">
        <div class="history" ></div>
        
        <div id="terminal-line">
            $&nbsp;<span class="prompt"></span>
            <!-- <span class="typed-cursor"></span> -->
            <input type="text" id="user-input" name="user-input">
        </div>
    </section>
</div>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
